body {
    font-family: Poppins, sans-serif;
}

.brand {
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #F17300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #003D5B;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    font-family: Poppins, sans-serif;
    border: none;
    background-color: transparent;
}


.scale {
    width: 100%;
    height: auto;
}


.masthead {
    background-color: #003D5B;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: transparent;
    color: white;
    position: relative;
}

.book-link {
    text-decoration: none;
    color:  #003D5B;
}

.book-link:hover,
.page-link {
    color: #F17300;
}

.book-title {
    margin-top: 10%;
    margin-left: 5%;
}

.book-author {
    margin-left: 5%;
    color: white;
}

.btn-signup,
.btn-edit {
    background-color: #003D5B;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #003D5B;
}

.link {
    color: #F17300;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #003D5B;
    text-decoration: underline;
}

.btn-delete {
    color: #003D5B;
    background: #F17300;
}


/* .faded {
    color: rgb(172, 175, 175);
} */

.approval {
    color: #F17300;
}
